/*==========  Desktop First Method  ========== */
@media screen and (max-width: 1459px) {
  .reference_section .download_block {
    width: 50px;
    right: -60px; }
    .reference_section .download_block a, .reference_section .download_block .back {
      width: 50px;
      font-size: 0;
      margin-bottom: 10px; }
    .reference_section .download_block .back:before {
      left: 8px; } }
@media screen and (max-width: 1299px) {
  .reference_section .wrapper {
    padding-right: 60px; }
  .reference_section .download_block {
    z-index: 3;
    width: 50px;
    right: 5px; }
    .reference_section .download_block .wrap {
      padding-top: 30px; }
    .reference_section .download_block .back {
      background: #ECEBEB; } }
@media screen and (max-width: 1199px) {
  .main_header .nav_block .main_nav li {
    margin-right: 20px; }
  .main_header .user_block {
    max-width: 292px; }

  .services_description .wrapper {
    max-width: 435px; }

  .work_steps {
    padding-top: 90px;
    padding-bottom: 90px; }
    .work_steps .item .icon:before {
      width: 145px; }
    .work_steps .col-xs-12:nth-of-type(3) .item .icon:before {
      width: 330px; }

  .user_items .pdf_item .top_block .download {
    max-width: 200px; }
  .user_items .pdf_item .top_block p {
    max-width: 320px; }

  .user_items .checkbox_item {
    padding-left: 65px;
    padding-right: 246px; }
    .user_items .checkbox_item .main_btn {
      max-width: 210px;
      padding-left: 5px;
      padding-right: 5px;
      right: 20px; }
    .user_items .checkbox_item .checkbox_label {
      left: 20px; }

  .user_items .items_header .search_form_with_select .jq-selectbox {
    max-width: 140px; }

  .user_items .items_header .search_form_with_select input[type="text"] {
    width: calc(100% - 140px);
    padding-left: 15px;
    padding-right: 15px; }

  .messages_form .radio_block label {
    margin-right: 15px; }

  .check_all_block {
    padding-left: 20px; }

  .user_items .top_block {
    padding-left: 78px;
    padding-right: 240px; }
    .user_items .top_block .main_btn {
      right: 15px;
      max-width: 210px;
      padding-left: 5px;
      padding-right: 5px; }
    .user_items .top_block .photo {
      left: 15px; }
  .user_items .bottom_block {
    padding: 20px 15px; } }
/* Medium Devices, Desktops */
@media screen and (max-width: 991px) {
  .main_header {
    z-index: 20; }
    .main_header .container {
      position: static; }
    .main_header .nav_block {
      position: absolute;
      padding-top: 0px;
      top: 100%;
      left: 0px;
      width: 100%;
      height: 0px;
      overflow: hidden;
      background: #242D53;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
      text-align: center;
      border-top: 0px solid #323b62;
      border-bottom: 0px solid #323b62; }
      .main_header .nav_block .main_nav {
        max-width: 750px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px; }
        .main_header .nav_block .main_nav li {
          float: none;
          display: inline-block;
          vertical-align: top; }
          .main_header .nav_block .main_nav li a:before {
            bottom: 7px; }
      .main_header .nav_block.active {
        height: 64px;
        border-width: 1px; }

  .toggle_menu {
    display: block;
    float: right; }

  .main_footer .copyright {
    max-width: 300px; }

  .main_section {
    padding-top: 160px;
    padding-bottom: 100px; }
    .main_section .main_title {
      font-size: 36px;
      line-height: 42px; }

  .services_description:before {
    width: 100%;
    opacity: 0.8; }
  .services_description .wrapper {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding-top: 120px;
    padding-bottom: 120px; }

  .work_steps .item {
    margin-bottom: 40px; }
    .work_steps .item .icon:before {
      width: 70px;
      -webkit-background-size: auto;
      -o-background-size: auto;
      background-size: auto;
      background-position: right center; }
    .work_steps .item p {
      font-size: 16px;
      line-height: 22px; }
  .work_steps .col-xs-12:nth-of-type(3) .item .icon:before {
    display: none; }

  .main_footer {
    position: relative; }

  .page_wrapper {
    padding-bottom: 0px; }

  .text_section .banner {
    height: 200px;
    margin-bottom: 45px; }
  .text_section .wrapper {
    padding-left: 0px;
    padding-right: 0px; }
  .text_section .spoiler_item {
    margin-bottom: 25px; }
    .text_section .spoiler_item .spoiler {
      min-height: 70px;
      font-size: 18px;
      line-height: 24px;
      padding-left: 70px;
      padding-right: 20px; }
      .text_section .spoiler_item .spoiler:before, .text_section .spoiler_item .spoiler:after {
        left: 20px; }
    .text_section .spoiler_item .spoiler-body .well {
      padding-left: 70px;
      padding-right: 20px; }

  .check_form .first_long label:first-of-type {
    width: 100%; }
  .check_form .first_long label {
    width: 100%;
    margin-right: 0px;
    float: none; }

  .user_section .title {
    margin-bottom: 20px; }
  .user_section .user_header {
    padding-left: 15px;
    padding-right: 15px; }
    .user_section .user_header .header_item p {
      line-height: 22px; }
  .user_section .user_content {
    padding-top: 0px; }

  .user_items .items_header .search_form {
    width: 100%;
    float: none;
    margin-bottom: 20px; }
  .user_items .items_header .quantity_block {
    float: none;
    width: 100%; }

  .user_items .pdf_item .top_block {
    padding-left: 20px;
    padding-right: 20px; }
    .user_items .pdf_item .top_block .download {
      max-width: 130px;
      right: 20px;
      padding-left: 5px;
      padding-right: 5px; }
    .user_items .pdf_item .top_block p {
      max-width: 280px; }
  .user_items .pdf_item .bottom_block {
    padding-left: 20px;
    padding-right: 20px; }

  .user_items .checkbox_item {
    padding-left: 20px;
    padding-right: 20px; }
    .user_items .checkbox_item .main_btn {
      max-width: 100%;
      position: relative;
      top: auto;
      right: auto;
      padding-left: 5px;
      padding-right: 5px; }
    .user_items .checkbox_item .inner {
      padding-left: 95px;
      margin-bottom: 15px; }
      .user_items .checkbox_item .inner .photo {
        left: 30px; }
    .user_items .checkbox_item .checkbox_label {
      left: 20px;
      top: 40px;
      z-index: 2; }

  .messages_form .radio_block {
    border: none;
    margin-bottom: 10px; }
    .messages_form .radio_block label {
      margin-bottom: 10px; }

  .check_all_block {
    padding-left: 0px; }

  .user_items .top_block {
    padding-right: 15px;
    padding-left: 15px; }
    .user_items .top_block ul {
      padding-left: 65px; }
    .user_items .top_block .main_btn {
      position: relative;
      top: auto;
      right: auto;
      width: 100%;
      max-width: 100%;
      margin-top: 10px; } }
/* Small Devices, Tablets */
@media screen and (max-width: 767px) {
  .main_header {
    z-index: 20; }
    .main_header .container {
      position: static; }

  .main_footer .copyright {
    max-width: 200px; }

  .main_section {
    padding-top: 140px;
    padding-bottom: 60px;
    text-align: center; }
    .main_section .main_title {
      font-size: 30px;
      line-height: 38px;
      max-width: 100%;
      text-align: center; }
    .main_section .item {
      margin-bottom: 40px; }
      .main_section .item .icon {
        margin-left: auto;
        margin-right: auto; }
      .main_section .item p {
        max-width: 100%; }

  .fiz_form, .ur_form {
    width: 100%;
    max-width: 100%; }

  .modal .modal-dialog {
    margin-top: 0px;
    max-width: 400px; }
    .modal .modal-dialog .modal-content .close {
      top: 25px;
      right: 15px; }
    .modal .modal-dialog .modal-content .modal-body {
      -webkit-border-radius: 0px;
      border-radius: 0px;
      padding-left: 20px;
      padding-right: 20px; }
    .modal .modal-dialog .modal-content .modal_title {
      font-size: 24px; }
    .modal .modal-dialog .modal-content .tabs .nav {
      margin-bottom: 25px; }
      .modal .modal-dialog .modal-content .tabs .nav li {
        display: block;
        width: 50%;
        height: 70px;
        text-align: center;
        float: left;
        display: table; }
        .modal .modal-dialog .modal-content .tabs .nav li a {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          width: 100%;
          height: 100%;
          line-height: 1.2;
          font-size: 14px;
          padding-left: 15px;
          padding-right: 15px; }

  .thanks_modal .modal-dialog {
    margin-top: 10%; }

  .main_form .double_inputs label, .main_form .three_inputs label {
    float: none;
    margin-right: 0px;
    width: 100%; }

  .section_title {
    padding-left: 40px; }
    .section_title:before {
      width: 30px; }

  .services_description .wrapper {
    padding-top: 80px;
    padding-bottom: 80px; }

  .work_steps .item {
    margin-bottom: 75px; }
    .work_steps .item:before {
      content: "";
      display: block;
      width: 60px;
      height: 12px;
      z-index: -1;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -29px;
      margin-top: 27px;
      background: url("../img/steps_arrow.png") no-repeat right center;
      -webkit-background-size: auto;
      -o-background-size: auto;
      background-size: auto;
      opacity: 0.4;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
    .work_steps .item p {
      height: auto; }
      .work_steps .item p br {
        display: none; }
    .work_steps .item .icon:before {
      display: none; }

  .spravka_modal .modal-dialog {
    max-width: 100%; }
    .spravka_modal .modal-dialog .modal-content .modal-body {
      padding: 0px; }

  .info_table th {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    height: 52px; }
  .info_table td {
    height: 52px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px; }
    .info_table td ul li {
      font-size: 14px; }

  .text_section h2 {
    font-size: 24px; }
  .text_section h3 {
    font-size: 20px; }

  .reference_section .wrapper {
    padding-right: 30px; }
  .reference_section .download_block {
    position: relative;
    width: 100%;
    right: auto;
    padding-top: 20px; }
    .reference_section .download_block .wrap {
      position: relative !important;
      top: auto !important;
      padding-top: 0px; }
      .reference_section .download_block .wrap:after {
        content: "";
        display: table;
        clear: both; }
    .reference_section .download_block .back, .reference_section .download_block a {
      float: right;
      margin-bottom: 0px;
      margin-right: 10px; }
    .reference_section .download_block .back {
      margin-right: 0px; }

  .user_section .user_header {
    margin-bottom: 45px;
    padding-top: 20px;
    padding-bottom: 15px; }

  .user_items .pdf_item .top_block p {
    max-width: 270px; }
  .user_items .pdf_item .top_block .download {
    max-width: 120px; }

  .messages_modal .modal-dialog {
    max-width: 100%; }

  .messages_modal .modal-dialog .modal-content .modal-body {
    padding-left: 0px;
    padding-right: 0px; }
  .messages_modal .modal-dialog .modal-content .messages_block .wrap {
    max-height: none; }
  .messages_modal .modal-dialog .modal-content .messages_block .item {
    padding-right: 20px;
    padding-left: 84px;
    padding-top: 35px; }
    .messages_modal .modal-dialog .modal-content .messages_block .item .photo {
      left: 15px; }
    .messages_modal .modal-dialog .modal-content .messages_block .item .date {
      position: relative;
      top: auto;
      right: auto;
      margin-bottom: 20px; }
    .messages_modal .modal-dialog .modal-content .messages_block .item .name {
      margin-bottom: 5px; }

  .reg_section .section_title, .messages_section .section_title {
    margin-bottom: 30px; }

  .messages_section .messages_block {
    padding-left: 0px;
    padding-right: 0px; }
    .messages_section .messages_block .item {
      padding-right: 20px;
      padding-left: 84px;
      padding-top: 35px; }
      .messages_section .messages_block .item .photo {
        left: 15px; }
      .messages_section .messages_block .item .date {
        position: relative;
        top: auto;
        right: auto;
        margin-bottom: 20px; }
      .messages_section .messages_block .item .name {
        margin-bottom: 5px; } }
@media screen and (max-width: 559px) {
  .main_header {
    padding-top: 10px;
    height: auto; }
    .main_header .container {
      background: #1A2244; }
      .main_header .container:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        width: 100%;
        height: 100%;
        background: #1A2244; }
    .main_header .logo {
      margin-top: 7px;
      margin-bottom: 10px; }
    .main_header .user_block {
      float: none;
      width: 100%;
      max-width: 100%;
      clear: both;
      padding-top: 0px; }
      .main_header .user_block .btns {
        padding-top: 0px;
        padding-bottom: 10px; }
      .main_header .user_block .active_user {
        height: auto;
        display: block;
        float: right;
        width: auto;
        max-width: 100%;
        position: absolute;
        top: -58px;
        right: 70px; }
        .main_header .user_block .active_user.active .user_btn {
          background: none; }
        .main_header .user_block .active_user .user_btn {
          padding-left: 0px;
          padding-right: 0px;
          padding-left: 53px;
          padding-top: 25px;
          padding-bottom: 25px; }
          .main_header .user_block .active_user .user_btn:hover {
            background: none; }
          .main_header .user_block .active_user .user_btn .name {
            display: none; }
        .main_header .user_block .active_user .photo {
          left: 0px; }
        .main_header .user_block .active_user .user_nav {
          position: fixed;
          top: 65px;
          left: 0px;
          width: 100%; }
          .main_header .user_block .active_user .user_nav li a {
            padding-left: 25px;
            padding-right: 25px; }
    .main_header .nav_block {
      height: auto;
      top: -120px;
      z-index: -5; }
      .main_header .nav_block.active {
        height: auto;
        top: 100%; }
      .main_header .nav_block .main_nav li {
        margin: 0 10px; }
      .main_header .nav_block .main_nav li:last-of-type {
        margin: 0 10px; }

  .toggle_menu {
    margin-top: 0px;
    margin-bottom: 10px; }

  .main_footer {
    padding-top: 20px;
    padding-bottom: 20px; }
    .main_footer .logo {
      float: none;
      margin: 0 auto;
      margin-bottom: 25px; }
    .main_footer .soc_list {
      float: none;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px; }
      .main_footer .soc_list li {
        display: inline-block;
        vertical-align: top;
        float: none;
        margin: 0 4px; }
      .main_footer .soc_list li:last-of-type {
        margin: 0 4px; }

  .main_header.absolute_header {
    position: relative; }

  .main_section {
    padding-top: 60px;
    padding-bottom: 20px; }

  .section_title {
    font-size: 28px; }

  .used_services .slider_wrapper {
    padding-left: 50px;
    padding-right: 50px; }

  .work_steps {
    padding-top: 60px;
    padding-bottom: 60px; }
    .work_steps .section_title {
      margin-bottom: 40px; } }
/* Extra Small Devices, Phones */
@media screen and (max-width: 479px) {
  .main_section .main_title {
    font-size: 24px;
    line-height: 30px; }
    .main_section .main_title br {
      display: none; }

  .main_btn {
    font-size: 14px;
    padding: 14px; }

  .modal .modal-dialog .modal-content .modal-body {
    padding-left: 15px;
    padding-right: 15px; }

  .spravka_modal .modal-dialog {
    max-width: 100%; }
    .spravka_modal .modal-dialog .modal-content .modal-body {
      padding: 0px; }
    .spravka_modal .modal-dialog .modal-content .header_block {
      padding-left: 15px;
      padding-right: 15px; }
    .spravka_modal .modal-dialog .modal-content .table_block {
      padding-left: 15px;
      padding-right: 15px; }
      .spravka_modal .modal-dialog .modal-content .table_block .wrap {
        max-height: none; }

  .info_table th {
    font-size: 14px; }
  .info_table td {
    font-size: 12px;
    line-height: 18px; }
    .info_table td ul li {
      font-size: 12px;
      line-height: 18px; }

  .text_section h1 {
    font-size: 32px;
    line-height: 1.2; }
  .text_section h2 {
    font-size: 24px; }
  .text_section h3 {
    font-size: 20px; }
  .text_section p {
    font-size: 16px;
    line-height: 22px; }

  .text_section .banner {
    height: 150px; }
  .text_section .spoiler_item {
    margin-bottom: 20px; }
    .text_section .spoiler_item .spoiler-body .well {
      padding-left: 20px;
      padding-right: 20px; }

  .reference_section .wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px; }

  .info_table {
    margin-bottom: 20px; }
    .info_table td, .info_table th {
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto; }
    .info_table .word_break {
      word-break: break-all; }

  .user_section .title {
    font-size: 20px;
    margin-bottom: 25px; }

  .check_form .double_inputs label {
    margin-right: 0px;
    float: none;
    width: 100%; }
  .check_form input[type="text"], .check_form input[type="email"], .check_form input[type="password"] {
    height: 53px;
    padding-left: 15px;
    padding-right: 15px; }

  .user_items .items_header .search_form {
    height: 53px; }

  .user_items .pdf_item .top_block {
    padding-left: 15px;
    padding-right: 15px; }
    .user_items .pdf_item .top_block p {
      max-width: 100%; }
    .user_items .pdf_item .top_block .download {
      max-width: 100%;
      height: 49px;
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      margin-top: 15px; }
    .user_items .pdf_item .top_block .name {
      font-size: 18px; }
  .user_items .pdf_item .bottom_block {
    padding-left: 15px;
    padding-right: 15px; }

  .messages_modal .modal-dialog .modal-content .modal-body {
    padding-left: 0px;
    padding-right: 0px; }
  .messages_modal .modal-dialog .modal-content .messages_block .item {
    padding-left: 50px;
    padding-right: 15px; }
    .messages_modal .modal-dialog .modal-content .messages_block .item .photo {
      width: 35px;
      height: 35px;
      left: 8px; }

  .user_items .checkbox_item {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px; }
    .user_items .checkbox_item .checkbox_label {
      left: 15px; }

  .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
    padding-top: 18px; }

  .user_items .items_header .search_form_with_select {
    height: auto;
    padding-left: 0px; }
    .user_items .items_header .search_form_with_select input[type="text"] {
      float: none;
      width: 100%;
      border-top: 1px solid #ededed;
      border-left: none;
      height: 53px;
      padding-left: 75px; }
    .user_items .items_header .search_form_with_select .jq-selectbox {
      max-width: 100%;
      width: 100%;
      float: none;
      height: 53px;
      padding-left: 0px; }
    .user_items .items_header .search_form_with_select .submit {
      height: 52px;
      top: auto;
      bottom: 0px; }

  .jq-selectbox .jq-selectbox__select {
    padding-left: 15px;
    padding-right: 15px; }

  .messages_form .radio_block label span {
    font-size: 14px; }

  .messages_form textarea {
    padding: 15px; }
  .messages_form .main_btn {
    width: 100%; }

  .users_inner_nav {
    border: none;
    margin-bottom: 10px; }
    .users_inner_nav li {
      margin-bottom: 10px;
      margin-right: 15px; }
      .users_inner_nav li a {
        font-size: 16px; }

  .user_items .add_user {
    display: block;
    width: 100%; }

  .user_items .top_block .photo {
    display: none; }
  .user_items .top_block ul {
    padding-left: 0px; }
    .user_items .top_block ul li {
      line-height: 22px;
      margin-bottom: 5px; }

  .messages_section .messages_block .item {
    padding-left: 50px;
    padding-right: 15px; }
    .messages_section .messages_block .item .photo {
      width: 35px;
      height: 35px;
      left: 8px; } }

/*# sourceMappingURL=media.css.map */
